*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --game-font: 'Russo One', serif;
  --deep-ocean-blue: #001f3f;
  --electric-lime: #39ff14;
  --bright-cyan: #00d4ff;
  --metallic-silver: #d9d9d9;
  --burnt-orange: #ff6a00;
  --neon-purple: #a100ff;
}

@keyframes hueShift {
  0% {
    border-color: var(--bright-cyan);
  } /* Start with button color */
  25% {
    border-color: var(--electric-lime);
  }
  50% {
    border-color: var(--burnt-orange);
  }
  75% {
    border-color: var(--neon-purple);
  }
  100% {
    border-color: var(--bright-cyan);
  } /* Loop back to original */
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--deep-ocean-blue);
}

.game-title {
  display: flex;
  justify-content: center;
  margin: 1.5rem;
  font-family: var(--game-font);
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  letter-spacing: 0.3rem;
  color: var(--electric-lime);
}

.boards {
  display: flex;
  gap: 1.25rem;
  justify-content: space-evenly;
  margin: 2rem;
}

.left-side-top {
  display: flex;
  justify-content: space-between;
}

.left-side-top {
  display: flex;
  justify-content: space-between;
}

.fleet-title {
  font-family: var(--game-font);
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: var(--bright-cyan);
}

.board-human,
.board-enemy {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0.125rem;
  height: 30rem;
  width: 30rem;
}

.board-cell {
  border: 1px solid black;
  background-color: var(--metallic-silver); /* Metallic Silver */
}

/* human player ships */
.board-cell-player-ship {
  border: 1px solid black;
  background-color: blue;
}

.board-cell-miss {
  background-color: black;
  opacity: 0.8;
}

.board-cell-hit {
  border: 1px solid black;
  background-color: red;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.board-cell:hover {
  background-color: darkgray;
}

.place-ships-randomly-button-div {
  display: flex;
  align-items: center;
}

.place-ships-randomly-button {
  min-width: 12.5rem;
  background: var(--electric-lime);
  border: 2px solid var(--electric-lime);
  border-radius: 5px;
  font-family: var(--game-font);
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  animation: hueShift 3s linear infinite;
  transition: all 0.2s;
}

.place-ships-randomly-button:hover {
  background: var(--burnt-orange);
}

.game-over-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Blurs the gameboards in the background */
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  z-index: 1000; /* Ensures it appears above other content */
}

.game-over-content {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.game-over-text {
  margin-bottom: 3rem;
  font-family: var(--game-font);
  font-size: 8rem;
  text-align: center; /* Centers text horizontally */
}

.new-game-button {
  font-family: var(--game-font);
  font-size: 4rem;
}

@media (max-width: 850px) {
  .game-title {
    height: 8%;
    margin: 0;
    padding: 1rem;
    font-size: 2rem;
    letter-spacing: 0.3rem;
  }

  .boards {
    display: block;
    height: 92%;
    margin: 0;
  }

  .left-side {
    height: 30%;
    padding: 0.5rem;
  }

  .right-side {
    height: 70%;
    padding: 0.5rem;
  }

  .left-side-top {
    display: flex;
    justify-content: space-between;
    height: 18%;
  }

  .right-side-top {
    display: flex;
    height: 8%;
  }

  .fleet-title {
    margin: 0;
    padding: 0rem 1rem;
    font-size: 1.3rem;
  }

  .board-human {
    height: 82%;
    width: 60%;
    padding-top: 0.5rem;
  }

  .board-enemy {
    height: 92%;
    width: 100%;
  }

  .place-ships-randomly-button-div {
    display: block;
    min-width: 9rem;
    max-width: 12.5rem;
  }

  .place-ships-randomly-button {
    display: block;
    min-width: 9rem;
    max-width: 12.5rem;
    padding: 0.2rem;
    font-size: 1rem;
    border: 1px solid var(--electric-lime);
    border-radius: 5px;
    font-family: var(--game-font);
    font-weight: 400;
    background: var(--bright-cyan);
    cursor: pointer;
  }
}

/* Dont forget to move repo to main and commit */
